[submodule "scripts"]
	path = scripts
	url = https://github.com/IbrahimHindawi/scripts
[submodule "extern/haikal"]
	path = extern/haikal
	url = https://github.com/IbrahimHindawi/haikal
[submodule "extern/bstring"]
	path = extern/bstring
	url = https://github.com/msteinert/bstring.git
